::-webkit-scrollbar{
  display: none;
 
  
}

.header{
  width: 1440px;
 
  border: 1px solid black;
  visibility: hidden;
}
.App>{
  width:100%;
  display: flex;
  height:100dvw;
flex-direction: row;
align-items: center;
padding: 0px;
width: 100%;
position: relative;
background: #FAFBFC;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 
}


.container{
  display: flex;
  flex-direction: column;
  
 
  gap: 32px;
 
  width: 648px;
  height: 704px;
  margin-left: 396px;
  margin-right: 396px;

  margin-top: 160px;

  margin-bottom: 160px;
  
  
}
.logoBox{
  width: 192px;
  height: 48px;
 
   margin: auto;
  left: 228px;
}
.lookscout{
  width: 192px;
  height: 48px;
  top: 7.2px;
  left: 6px;
}

.stepper{
  height: 100%;
  top: 80px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border: 1px solid #DAE0E6;
   box-shadow: 0px 1px 2px 0px #1018280A;
  
}

.cta>div{
  width: 90%;
  margin: auto;
  height:80px;
  background: #FAFBFC;
  display: flex;
 align-items: center;
 align-content: center;

  justify-content: space-between;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.cta>div>div{
  width: 10%;
 
  margin-top:30px;
  margin-bottom: -20px;
  
  
}

.cta>div>div>div{
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: #FAFBFC;
  border: 1px solid #DAE0E6;
  border-radius: 50%;
  align-items: center;
 
 
}
.cta p{
 
  text-align: center;
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
letter-spacing: -0.1px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.cta>div>div>div>img{
 
 fill: #5F6D7E;
 color: black;
 background: #FAFBFC;
 
}
.hr{
 width: 135px;
 border-top: 2px dotted #DAE0E6;
border-bottom:0px dotted #DAE0E6;
letter-spacing: 10px;

 position:absolute;

margin-left: 47px;
margin-top: -20px;
 align-self: self-end;

}
.inputs{
 

  background:#FFFFFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.inputs>div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 48px;
  gap: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  width: 648px;
  height: 374px;
  padding-top: 32px;
  padding-bottom: 32px;
  flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
 
}
.input>div>div{
  height: 74px;
}
.inputs>div input{
  box-sizing: border-box;
  margin-top: -10px;

/* Auto layout */


padding: 12px 16px;
gap: 8px;

width: 552px;
height: 46px;

/* Base/White */

background: #FFFFFF;
/* Neutral/700 */

border: 1px solid #DAE0E6;
/* Shadow/XSM */

box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
border-radius: 6px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}



.password{
 
  height: 102px;
  display: flex;
justify-content: space-between;
gap: 16px;
margin-top: -20px;
margin-bottom: 10px;

}
.password>div>input{
  width: 268px;
}

.accept{
  display: flex;
  margin-top:-5px;
  margin-left: -11px;
 
}
.accept>input{
  border: 1.67px solid #FFFFFF;
}
.accept p{
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.footer{
  width: 100%;
  height: 100%;
 
  display: flex;
  align-items: center;
  justify-content: end;


}

.Header{
  
height: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.1px;
color: #272D37;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0
}

.inst{
  
height: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 10px;





letter-spacing: 0.3px;


color: #5F6D7E;




flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}


@media screen and (max-width:1044px){
  .header{
    display: none;
  }
  .container{
    margin: auto;
  }

}

@media screen and (max-width:375px){
  .header{
    display: none;
  }
  .container{
    width: 343px;
    height: 774px;
    margin: auto;
    margin-left: 30px;
  }
  .hr{
    width: 53px;
    margin-left: 35px;
  }
  .inputs>div{
    width: 100%;
    margin: auto;
    

  }
  .inputs>div input{
    width: 295px
  }
  .password{
    width: 295px;
    flex-direction: column;
    gap:0;
  }
  .password>div:nth-child(2){
    margin-top: -20px;
  }
  .password>div{
    width: 100%;
  }
  .password>div>input{
    width: 100%;
  }
  .inputs{
    height: 492px;
  }
  .inputs>div{
    width: 95%;
    height: 100%;
    padding: 0px 24px;
    padding-bottom: 32px;
    gap: 5px;
  }
  .accept{
    width: 330px;
    padding-right: 10px;
    margin-top: 110px;
    
  }
  .footer{
    padding: 0px 24px;
  }
  .button{
    width: 90%;
    margin: auto;
  }
  .accept p{
    width: 80%;
    font-size: 16px;
  }
  
}